* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 176px 300px;
}

.app-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 69px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.app-card {
    width: auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;

    background-color: #317137;

    justify-items: center;
}


.app-card-title {
    font-family: 'OCR-B 10 BT';
    font-style: normal;
    font-weight: 400;
    font-size: 41px;
    line-height: 42px;
    text-align: center;
    letter-spacing: -0.12em;

    color: #DDF2D7;
}